@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Poppins";
}
html,
body {
    overflow-x: hidden;
}
html {
    cursor: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.custom-rotate {
    animation: anime-rotate-main 8s infinite;
}
@keyframes anime-rotate-main {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}
.moving-element {
    animation: anime-moving-element 9s infinite;
}

@keyframes anime-moving-element {
    0% {
        transform: translateY(-45px);
        opacity: 0.6;
    }
    50% {
        opacity:1;
        transform: translateY(45px);
    }
    100% {
        opacity: 0.6;
        transform: translateY(-45px);
    }
}

.animate-delay-500{
    animation-delay: 500ms;
}